@model AutoOrder.Models.Autopark

@{
    ViewBag.Title = "Автопарк | Удаление";
}

<h2>Удаление автомобиля</h2>

<h3>
    При удалении автомобиля из автопарка будут удалены все связанные заявки.
    <br />
    Вы действительно хотите удалить автомобиль?
</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TrailerType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrailerType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trailer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trailer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrailerCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrailerCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrailerLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrailerLength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrailerWidth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrailerWidth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrailerHeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrailerHeight)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Автопарк", "Index")
        </div>
    }
</div>
