@model AutoOrder.Models.Autopark

@{
    ViewBag.Title = "Автопарк | Просмотр";
}

<h2>Просмотр информации об автомобиле</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.TrailerType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrailerType.Name)
        </dd>

        <dt class ="col-md-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.Trailer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trailer)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.TrailerCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrailerCount)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.TrailerLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrailerLength)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.TrailerWidth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrailerWidth)
        </dd>

        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.TrailerHeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrailerHeight)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new {id = Model.Id}) |
    @Html.ActionLink("Автопарк", "Index")
</p>