@model AutoOrder.Models.Order

@{
    ViewBag.Title = "Заявки на автотранспорт | Просмотр";
}

<h2>Просмотр информации о заявке</h2>

<div>
    <table class="table">
        <tr>
            <td><b>@Html.DisplayNameFor(model => model.User.Email)</b></td>
            <td>@Html.DisplayFor(model => model.User.Email)</td>
        </tr>
        <tr>
            <td><b>@Html.DisplayNameFor(model => model.Phone)</b></td>
            <td>@Html.DisplayFor(model => model.Phone)</td>
        </tr>
        <tr>
            <td><b>@Html.DisplayNameFor(model => model.TransportedObjectType)</b></td>
            <td>@Html.DisplayFor(model => model.TransportedObjectType)</td>
        </tr>
        <tr>
            <td><b>@Html.DisplayNameFor(model => model.TransportType.Name)</b></td>
            <td>@Html.DisplayFor(model => model.TransportType.Name)</td>
        </tr>
        <tr>
            <td><b>@Html.DisplayNameFor(model => model.ObjectLength)</b></td>
            <td>@Html.DisplayFor(model => model.ObjectLength)</td>
        </tr>
        <tr>
            <td><b>@Html.DisplayNameFor(model => model.ObjectHeight)</b></td>
            <td>@Html.DisplayFor(model => model.ObjectHeight)</td>
        </tr>
        <tr>
            <td><b>@Html.DisplayNameFor(model => model.User.Email)</b></td>
            <td>@Html.DisplayFor(model => model.User.Email)</td>
        </tr>
        <tr>
            <td><b>@Html.DisplayNameFor(model => model.ObjectWidth)</b></td>
            <td>@Html.DisplayFor(model => model.ObjectWidth)</td>
        </tr>
        <tr>
            <td><b>@Html.DisplayNameFor(model => model.ProspectiveInDate)</b></td>
            <td>@Html.DisplayFor(model => model.ProspectiveOutDate)</td>
        </tr>
        <tr>
            <td><b>@Html.DisplayNameFor(model => model.ProspectiveOutDate)</b></td>
            <td>@Html.DisplayFor(model => model.ProspectiveOutDate)</td>
        </tr>
        <tr>
            <td><b>@Html.DisplayNameFor(model => model.AddressFrom)</b></td>
            <td>@Html.DisplayFor(model => model.AddressFrom)</td>
        </tr>
        <tr>
            <td><b>@Html.DisplayNameFor(model => model.AddressTo)</b></td>
            <td>@Html.DisplayFor(model => model.AddressTo)</td>
        </tr>
        <tr>
            <td><b>@Html.DisplayNameFor(model => model.Autopark.Name)</b></td>
            <td>@Html.DisplayFor(model => model.Autopark.Name)</td>
        </tr>
        <tr>
            <td><b>@Html.DisplayNameFor(model => model.FactInDate)</b></td>
            <td>@Html.DisplayFor(model => model.FactInDate)</td>
        </tr>
        <tr>
            <td><b>@Html.DisplayNameFor(model => model.FactOutDate)</b></td>
            <td>@Html.DisplayFor(model => model.FactOutDate)</td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Заявки на автотранспорт", "Index")
</p>
