@model AutoOrder.Models.Order

@{
    ViewBag.Title = "Заявки на автотранспорт | Просмотр";
}

<h2>Просмотр информации о заявке</h2>

<div>
    <table class="table table-hover">
        <tr>
            <td class="col-sm-4"><b>@Html.DisplayNameFor(model => model.User.Email)</b></td>
            <td class="col-sm-8">@Html.DisplayFor(model => model.User.Email)</td>
        </tr>
        <tr>
            <td class="col-sm-4"><b>@Html.DisplayNameFor(model => model.Phone)</b></td>
            <td class="col-sm-8">@Html.DisplayFor(model => model.Phone)</td>
        </tr>
        <tr>
            <td class="col-sm-4"><b>@Html.DisplayNameFor(model => model.TransportedObjectType)</b></td>
            <td class="col-sm-8">@Html.DisplayFor(model => model.TransportedObjectType)</td>
        </tr>
        <tr>
            <td class="col-sm-4"><b>@Html.DisplayNameFor(model => model.TransportType.Name)</b></td>
            <td class="col-sm-8">@Html.DisplayFor(model => model.TransportType.Name)</td>
        </tr>
        <tr>
            <td class="col-sm-4"><b>@Html.DisplayNameFor(model => model.ObjectLength)</b></td>
            <td class="col-sm-8">@Html.DisplayFor(model => model.ObjectLength)</td>
        </tr>
        <tr>
            <td class="col-sm-4"><b>@Html.DisplayNameFor(model => model.ObjectHeight)</b></td>
            <td class="col-sm-8">@Html.DisplayFor(model => model.ObjectHeight)</td>
        </tr>
        <tr>
            <td class="col-sm-4"><b>@Html.DisplayNameFor(model => model.ObjectWidth)</b></td>
            <td class="col-sm-8">@Html.DisplayFor(model => model.ObjectWidth)</td>
        </tr>
        <tr>
            <td class="col-sm-4"><b>@Html.DisplayNameFor(model => model.ProspectiveInDate)</b></td>
            <td class="col-sm-8">@Html.DisplayFor(model => model.ProspectiveInDate, "ShortDate")</td>
        </tr>
        <tr>
            <td class="col-sm-4"><b>@Html.DisplayNameFor(model => model.ProspectiveOutDate)</b></td>
            <td class="col-sm-8">@Html.DisplayFor(model => model.ProspectiveOutDate, "ShortDate")</td>
        </tr>
        <tr>
            <td class="col-sm-4"><b>@Html.DisplayNameFor(model => model.AddressFrom)</b></td>
            <td class="col-sm-8">@Html.DisplayFor(model => model.AddressFrom)</td>
        </tr>
        <tr>
            <td class="col-sm-4"><b>@Html.DisplayNameFor(model => model.AddressTo)</b></td>
            <td class="col-sm-8">@Html.DisplayFor(model => model.AddressTo)</td>
        </tr>
        <tr>
            <td class="col-sm-4"><b>@Html.DisplayNameFor(model => model.Autopark.Name)</b></td>
            <td class="col-sm-8">@Html.DisplayFor(model => model.Autopark.Name)</td>
        </tr>
        <tr>
            <td class="col-sm-4"><b>@Html.DisplayNameFor(model => model.FactInDate)</b></td>
            <td class="col-sm-8">@Html.DisplayFor(model => model.FactInDate, "ShortDate")</td>
        </tr>
        <tr>
            <td class="col-sm-4"><b>@Html.DisplayNameFor(model => model.FactOutDate)</b></td>
            <td class="col-sm-8">@Html.DisplayFor(model => model.FactOutDate, "ShortDate")</td>
        </tr>
        <tr>
            <td class="col-sm-4"><b>@Html.DisplayNameFor(model => model.Comment)</b></td>
            <td class="col-sm-8">@Html.DisplayFor(model => model.Comment)</td>
        </tr>
    </table>
</div>
<p>
    @if (!(Model.IsCompleted || Model.IsCancelled) || (User.IsInRole("admin")))
    {
        @Html.ActionLink("Редактировать", "Edit", new {id = Model.Id}, new {@class = "btn btn-warning"})
    }
    @if (!(Model.IsCompleted || Model.IsCancelled))
    {
        @Html.ActionLink("Отмена", "Cancel", new { id = Model.Id }, new { @class = "btn btn-info" })
    }
    @if (User.IsInRole("admin"))
    {
        @Html.ActionLink("Удалить", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" })
    }
</p>
