@using System.Collections.Specialized
@{
    ViewBag.Title = "Главная";
}

@*<div class="jumbotron">
    <h1>Учет заявок на автотранспорт</h1>
    <p class="lead">Система учета входных заявок для автоматизации приема, обработки и выполенения входящих заявок на автотрансопрт.</p>
</div>*@
<style type="text/css">.slider { margin: 0;}</style>
<br />

<div class="row main">    
    <div class="slider col-md-12">
        <ul class="bxslider">
            <li><img src="/Content/Images/2.jpg" /></li>
            <li><img src="/Content/Images/3.jpg" /></li>
        </ul>
    </div>
</div>

<div class="row main">
    <div class="col-md-6">
        <div class="row main">
            <div class="overlay-wrapper">
                <a href="@Url.Action("Contact")">
                    <img src="/Content/Images/main-img.jpg" class="img-responsive" />
                    <div class="overlay-description-bottom">
                        <p class="overlay-description-header">
                            О нас
                        </p>
                    </div>
                    <div class="overlay-description-top">
                        <p class="overlay-description-header">
                            О нас
                        </p>
                        <hr/>
                        <p class="overlay-description-content">
                            Мы, <b>General Super Logistic</b>, более пятнадцати веков на рынке автоперевозок
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <br/>
        <div class="row main">
            <div class="overlay-wrapper">
                <a href="@Url.Action("Register", "Account")">
                    <img src="/Content/Images/bg.jpg" class="img-responsive" />
                    <div class="overlay-description-bottom">
                        <p class="overlay-description-header">
                            Регистрация
                        </p>
                    </div>
                    <div class="overlay-description-top">
                        <p class="overlay-description-header">
                            Регистрация
                        </p>
                        <hr/>
                        <p class="overlay-description-content">
                            Зарегестрируйтесь в системе для подачи заявок онлайн
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="overlay-wrapper">
            <a href="@Url.Action("Index", "Orders")">
                <img src="/Content/Images/image_22.jpg" class="img-responsive" />
                <div class="overlay-description-bottom">
                    <p class="overlay-description-header">
                        Заявки
                    </p>
                </div>
                <div class="overlay-description-top">
                    <p class="overlay-description-header">
                        Заявки
                    </p>
                    <hr/>
                    <p class="overlay-description-content">
                        После создания заявки автоматически будет привязан автомобиль, который подходит для перевозки Вашего груза.
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>

@*<div class="col-md-4">
            <h2>Для начала работы</h2>
            <p>
                @Html.ActionLink("Зарегистрируйтесь в системе", "Register", "Account") или войдите в свой
                @Html.ActionLink("аккаунт", "Login", "Account")
            </p>
            <p>
                После регистрации вам станут доступны основные функции для работы с системой: добавление и отмена заявок
            </p>
        </div>
        <div class="col-md-4">
            <h2>Создание новой заявки</h2>
            <p>
                Для создания новой заявки перейдите по ссылке "Заявки" в верхней части экрана.</p>
            <p>
                Заполните все необходимые поля.
            </p>
            <p>После создания заявки автоматически будет привязан автомобиль, который подходит для перевозки Вашего груза.</p>
            <p>В случае отсутствия подходящего автомобиля наш менеджер свяжется с Вами в кратчайшие сроки
            </p>
        </div>
        <div class="col-md-4">
            <h2>Отмена заявки</h2>
            <p>
                Для отмены существующей заявки перейдите по ссылке "Заявки" в верхней части экрана.
            </p>
            <p>Найдите интересующую вас <strong>невыполненную</strong> заявку и нажмите на ссылку "Отмена".</p>
        </div>
    </div>*@

@section scripts
{
 
    <script type="text/javascript">
        $(document).ready(function() {
            $('.bxslider').bxSlider({
                mode: "fade"
            });

            $('.overlay-wrapper').hover(
                function () {
                    $('.overlay-description-top').css("height", $(this).height());
                    $('.overlay-description-bottom', this).fadeOut(200);
                    $('.overlay-description-top', this).fadeIn(200);
                },
                function () {

                    $('.overlay-description-top', this).fadeOut(200);
                    $('.overlay-description-bottom', this).fadeIn(200);
                });
        });
    </script>   
}
